header p {
   margin-top: -30px;
   @media (max-width: $grid-tablet-breakpoint - 1) {
      margin-top: -20px;
   }
}

.about img{
   width: 100%;
   @media (min-width: $grid-tablet-breakpoint - 1) {
      width: 75%;
   }
   @media (min-width: $grid-desktop-breakpoint - 1) {
      width: 50%;
   }
}

.project img{
   margin: 40px 0px;
}
