<section class="about">
   <div class="mdl-grid">
      <div class="mdl-cell mdl-cell--12-col">
         <div class="center">
            <img class="margin-bottom-small" src="img/about-headshot.png"/>
         </div>
      </div>
   </div>

   <div class="mdl-grid">
      <div class="mdl-cell-no-margin-bottom mdl-cell--12-col">
         <h2>David Baker</h2>
      </div>
      <div class="mdl-cell-no-margin-top mdl-cell--12-col mdl-cell--4-col-tablet mdl-cell--6-col-desktop">
         <p>I am a senior product designer going into my 15th year. I am currently serving as a lead frontend/product designer at General Motors. Today I work with a team of interactive designers, ux architects, business leaders and developers. My role at GM is to inform and direct team members on the best practices to follow for a succesful user experience and product launch.</p>
      </div>
      <div class="mdl-cell-no-margin-top mdl-cell--12-col mdl-cell--4-col-tablet mdl-cell--6-col-desktop">
         <p>When I am not working I am raising two kids with my wife Cortney in Austin, Texas. Family is a huge motivater, and they give me the drive to always pursue and learn new things. When I am not hanging out with them, you will find me on a bicycle. For me, the bike is a tool to solve problems and release stress. Plus it is just fun.</p>
      </div>
   </div>
</section>
