<section class="project">
   <div class="mdl-grid">
      <div class="mdl-cell mdl-cell--12-col mdl-cell--6-col-tablet mdl-cell--8-col-desktop margin-bottom-large">
         <h2>GM Owner Center</h2>
         <p>Responsive web application designed to give GM customers the ability to manage their GM branded vehicles. The site provides product specific education and information such as maintenance reminders, service alerts, subscription renewals, recall information, dealer information, bluetooth setup and more.</p>
         <!-- <p>My role in this project was the liasion between the creative agency and GM IT. I created an Online Design System / Style Guide to ensure design and code consistency for the project. It is here to speed efficiency for the production phase of the GMOC-2.0 web application.</p> -->

         <ul class="list-small">
            <li>HTML/CSS/JS DEVELOPMENT</li>
            <li>RESPONSIVE WEB DESIGN</li>
            <li>USER EXPERIENCE DESIGN</li>
         </ul>

         <a target="_blank" href="https://my.chevrolet.com/home" class="button">VISIT SITE</a>
      </div>

      <div class="mdl-cell mdl-cell--12-col">
         <img class="margin-bottom-small" src="img/work-hero-gmoc.png"/>
      </div>

      <div class="mdl-cell mdl-cell--12-col">
         <img src="img/work-support-gmoc.png"/>
      </div>

   </div>
</section>

<section class="project">
   <div class="mdl-grid">
      <div class="mdl-cell mdl-cell--12-col mdl-cell--6-col-tablet mdl-cell--8-col-desktop">
         <h2>The PEDDLER Bike Shop</h2>
         <p>I had the opportunity to redesign and brand The PEDDLER Bike Shop in Austin Texas. I love to ride bikes and The PEDDLER is my local shop. Currently the site is a "Work in Progress".</p>
         <!-- <p>My role in this project was the liasion between the creative agency and GM IT. I created an Online Design System / Style Guide to ensure design and code consistency for the project. It is here to speed efficiency for the production phase of the GMOC-2.0 web application.</p> -->

         <ul class="list-small">
            <li>IDENTITY DESIGN</li>
            <li>APPAREL DESIGN</li>
            <li>HTML/CSS/JS DEVELOPMENT</li>
            <li>RESPONSIVE WEB DESIGN</li>
            <li>USER EXPERIENCE DESIGN</li>
         </ul>

         <a target="_blank" href="http://peddlerbike.com/" class="button">VISIT SITE</a>
      </div>

      <div class="mdl-cell mdl-cell--12-col">
         <img class="margin-bottom-small" src="img/work-hero-peddler.png"/>
      </div>
   </div>

   <div class="mdl-grid mdl-grid--no-spacing">
      <div class="mdl-cell mdl-cell--12-col">
         <img src="img/work-logo-peddler.png"/>
         <img class="margin-bottom-large" src="img/work-jersey-peddler.png"/>
         <img src="img/work-apparel-peddler.png"/>
      </div>
   </div>
</section>

<section class="project">
   <div class="mdl-grid">
      <div class="mdl-cell mdl-cell--12-col mdl-cell--6-col-tablet mdl-cell--8-col-desktop">
         <h2>Eat Drink ATX</h2>
         <p>Eat Drink ATX was joint effort with friends Andrew Lohman and Jonathan Bowden during SXSW 2013. It was a simple "Top 10" site for Coffee, Taco, Beer and Barbecue establishments in Austin Texas. Its purpose was to provide a quick means for SXSW newcomers to grab a "eat drink" from one of Austin's finest. </p>
         <ul class="list-small">
            <li>IDENTITY DESIGN</li>
            <li>ICON DESIGN</li>
            <li>HTML/CSS DEVELOPMENT</li>
         </ul>
         <a target="_blank" href="http://www.eatdrinkatx.com/index.html" class="button">VISIT SITE</a>
      </div>

      <div class="mdl-cell mdl-cell--12-col">
         <img class="margin-bottom-small" src="img/work-hero-eatdrink.png"/>
      </div>

      <div class="mdl-cell mdl-cell--12-col">
         <img src="img/work-logo-eatdrink.png"/>
      </div>


   </div>
</section>

<section class="project">
   <div class="mdl-grid">
      <div class="mdl-cell mdl-cell--12-col mdl-cell--6-col-tablet mdl-cell--8-col-desktop">
         <h2>Multisport Ranch Fitness</h2>
         <p>I was contacted to create the branding and a small responsive customer inquiry site for Multisport Ranch Fitness. It was a fun idenetity to create and the site did its purpose. Hope to see Multisport Ranch Fitness çome to fruition in the near future.</p>
         <ul class="list-small">
            <li>IDENTITY DESIGN</li>
            <li>HTML/CSS/JS DEVELOPMENT</li>
         </ul>
         <a target="_blank" href="http://multisportranch.com/" class="button">VISIT SITE</a>
      </div>

      <div class="mdl-cell mdl-cell--12-col">
         <img class="margin-bottom-small" src="img/work-hero-msrf.png"/>
      </div>

      <div class="mdl-cell mdl-cell--12-col">
         <img src="img/work-logo-msrf.png"/>
      </div>


   </div>
</section>

<section class="project">
   <div class="mdl-grid">
      <div class="mdl-cell mdl-cell--12-col mdl-cell--6-col-tablet mdl-cell--8-col-desktop">
         <h2>Ellis County Family Dentistry</h2>
         <p>Created online presence for Ellis County Family Dentistry. A responsive site for patients to receive information about the practice and make appointments.</p>
         <ul class="list-small">
            <li>HTML/CSS/JS DEVELOPMENT</li>
         </ul>
         <a target="_blank" href="http://www.elliscountyfamilydentistry.com/" class="button">VISIT SITE</a>
      </div>

      <div class="mdl-cell mdl-cell--12-col">
         <img class="margin-bottom-small" src="img/work-hero-ellis.png"/>
      </div>

      <div class="mdl-cell mdl-cell--12-col">
         <img src="img/work-support-ellis.png"/>
      </div>

   </div>
</section>
